body
{
    margin: 0;
    padding: 0;
}

.box{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(1536px / 6 ); /* tamanho da imagem dividido pelo numero de quadros */
    height: 256px; /* altura da imagem */
    background: url(animation.png);
    animation: animate 1s steps(6) infinite;
    /*animation: animate 1s linear infinite; */
}

@keyframes animate{
    from
    {
        background-position: 0;
    }
    to
    {
        background-position: -1536px;
    }
}